<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--静态工厂bean，不需要实例化工厂bean-->
    <bean id="myService" class="cn.ycs.A2StaticFactoryBean.ServiceFactory" factory-method="getService"/>
</beans>